# Ignore specific files
RepSeq_QC.Rproj
.gitignore
# Ignore all files in specific directories
.Rproj.user/

# Ignore all files with specific extensions
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj

